@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;700&display=swap");

* {
  /* box-sizing: border-box; */
  font-family: Inter;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  /* border: 2px solid black; */
  width: 80vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.navbar {
  width: 80vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.navbar > .menu {
  /* border: 2px solid blue; */
  width: 40vw;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 600;
}
.content {
  width: 80vw;
  height: 80vh;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */
}
.top {
  display: flex;
  flex-direction: row;
  height: 60vh;
  gap: 30px;
}
.left {
  display: flex;
  flex-direction: column;
  flex: 2;
  /* border: 2px solid brown; */
}
.large-img img {
  width: 54vw;
  height: 37vh;
  margin-bottom: 10px;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.headline {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 22px;
  font-weight: 1000;
}
.meta {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.desc {
  font-size: 14.5px;
  color: gray;
  font-weight: 500;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  width: 200px;
  height: 30px;
  color: white;
  letter-spacing: 3px;
  font-size: 12px;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.black {
  width: 90%;
}
.black > .new {
  display: flex;
  align-items: center;
  color: orange;
  height: 10vh;
}
.card {
  border-bottom: 1px solid gray;
  height: 15vh;
  color: white;
  margin-bottom: 20px;
}
.VC {
  border: none;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text > p {
  font-size: 14px;
  margin-top: 10px;
  color: gray;
}
.blogs {
  display: flex;
  flex-direction: row;
  /* border: 2px solid salmon; */
  max-height: 20vh;
  justify-content: space-between;
  gap: 30px;
}
.blogs img {
  max-width: 100px;
  max-height: 100px;
}
.blog {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 33%;
}
.blog > .intro > .number > h2 {
  color: gray;
}
.blog > .intro > .title > h6 {
  font-size: 18px;
}
.blog > .intro > .meta-desc > p {
  font-size: 14px;
  color: gray;
}
/* .one {
  display: flex;
  flex: 1;
}
.two {
  display: flex;
  flex: 1;
}
*/
.three {
  display: flex;
  width: 330px;
}
